.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/report/blank_course_report.aux
/report/blank_course_report.bbl
/report/blank_course_report.bcf
/report/blank_course_report.blg
/report/blank_course_report.log
/report/blank_course_report.out
/report/blank_course_report.run.xml
/report/blank_course_report.toc
/report/_minted-blank_course_report/
